<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>登録ページ</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <h1>登録ページ</h1>
      <nav>
        <a href="/">トップ</a> |
        <a href="/register">登録ページ</a>
      </nav>
    </header>
    <main>
      <section class="form-section">
        <h2>収入登録</h2>
        <form action="/register-comecome" method="POST">
          <br>
          <label for="date">日付:</label>
          <input type="date" name="date" id="date" required>
          <br>
          <label for="type">収入の形:</label>
          <select name="type" id="type" required>
            <option value="okodukai">お小遣い</option>
            <option value="bite">バイト</option>
          </select>
          <br>
          <label for="amount">金額:</label>
          <input type="number" name="amount" placeholder="金額を入力" step="1" required>
          <br>
          <label for="description">説明:</label>
          <input type="text" name="description" placeholder="説明（任意）">
          <br>
          <button type="submit">登録</button>
        </form>
      </section>
      <section class="form-section">
        <h2>支出を登録</h2>
        <form action="/register-paypay" method="POST">
          <br>
          <label for="date">日付:</label>
          <input type="date" name="date" id="date" required>
          <br>
          <label for="type">支出の形:</label>
          <select name="type" id="type" required>
            <option value="subusuku">サブスク</option>
            <option value="once">単発</option>
          </select>
          <br>
          <label for="amount">金額:</label>
          <input type="number" name="amount" placeholder="金額を入力" step="1" required>
          <br>
          <label for="description">説明:</label>
          <input type="text" name="description" placeholder="説明（任意）">
          <br>
          <button type="submit">登録</button>
        </form>
      </section>
      <section class="form-section">
        <h2>口座残高登録</h2>
        <form action="/register-balance" method="POST">
          <input type="number" name="balance" placeholder="口座残高を入力" step="1" required>
          <button type="submit">登録</button>
        </form>
      </section>
    </main>
  </body>
</html>

